<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>

    <h:form>
        <h3>Rainy Hills</h3>
        <p>Enter hills as comma separated list of numbers:</p>

        <p>
            <p:tooltip />
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            <p:inputTextarea id="hills" rows="10" cols="50" value="#{rainyHillsBean.hills}" />
            <p:message for="hills" display="tooltip" />
        </p>

        <p>
            <span>Volume: </span>
            <h:outputText id="volume" value="#{rainyHillsBean.volume}" />
        </p>

        <p:commandButton value="Calculate volume"
                         actionListener="#{rainyHillsBean.calcVolume}"
                         ajax="false" />
    </h:form>

</h:body>
</html>